body{
  margin: 5em auto;
  max-width:70em;
}
textarea{
  resize: vertical;
  height: 70%;
  width: 100%;
}
.userArea{
  display:flex;
  justify-content:center;
  flex-flow:row wrap;
  height:100vh;
}
.output{
  background-color:#efefef;
  padding-left:3px;
  border-top:1px solid #61DAFB;
  border-radius: 10px;
}
