div{
  margin:20px;
}
.text{
  height:250px;
}

.text-center{
  text-align: center;
  margin:auto;
}
.btn{
  height:100px;
  width: 500px;
  text-align: center;
}
.container {
text-align: center;
}

.center-element {
width: 100px;
text-align: left;
}
