@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Ubuntu');
body{
  margin:0 auto;
  max-width: 50em;
}
.flex-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column ;
}
.simonLead{
  display: block;
}
.btn-group{
  margin:2em;
}
.digit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 9em;
  background-color: black;
  border-radius: 20px;
  font-size: xx-large;
  color:crimson;
  text-shadow: 0 0 3px red;
}
.gameButton{
  width: 5em;
  height: 3em;
}
.highlighted{
  opacity: 0.5;
}
.red{
  color:crimson;
}
.flex-item{
  margin: 1em;
  border-radius: 0px;
  box-shadow: 0 0 13px gray;
  display: block;
  width: 9em;
  height: 7em;
}
.reded{
  background-color: #E52F59;
  box-shadow: 0 0 13px crimson;
}
.green{
  background-color: #6DDA2C;
  box-shadow: 0 0 13px green;
}
.yellow{
  background-color: #F9B333;
  box-shadow: 0 0 13px orangered;
}
.blue{
  box-shadow: 0 0 13px skyblue;
  background-color: #2E58A6;
}
