@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
body{
  margin:0 auto;
  max-width: 50em;
}
.flex-container{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-flow:column wrap;
}
.gameBoard{
  display: block;
  text-align: center;
  margin:1em;
  padding: 1em;
  min-width: 12.5em;
  font-family: 'Josefin Slab',monospace;
}
.box{
  margin: 1px;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  color:#e4e4e4;
  font-size: xx-large;
  text-align: center;
  vertical-align: center;
  box-shadow: 0 0 15px #424242;
}
.promt, .modePrompt{
  margin-top:2em;
}
.promtBox,.promt2Box{
  margin: 1px;
  height: 2em;
  display: flex;
  padding:1.5em;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  color:#e4e4e4;
  font-size: xx-large;
  text-align: center;
  vertical-align: center;
  box-shadow: 0 0 15px #424242;
}
.pff{
  margin: 0;
  height: 0;
  width: 0;
  padding: 0;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
